extends layout

block content
    #banner.page-header
        .row
            .col-md-6.col-sm-12
                h1= title
    .row
        .col-md-6.col-sm-12
            p
                Loc8r was created to help people find places to sit down and get a bit of work done.
                <br /><br />
                Bacon ipsum dolor amet drumstick meatloaf pork belly pastrami, flank rump tenderloin alcatra jerky salami. Ball tip sausage chuck, doner bacon tri-tip cupim tenderloin landjaeger bresaola jerky jowl meatball chicken filet mignon. Filet mignon prosciutto turkey turducken, chicken jowl boudin sausage tongue. Brisket cow drumstick meatloaf meatball chuck picanha tri-tip salami andouille beef kielbasa biltong prosciutto. Shank flank jerky bresaola, turducken ham picanha brisket. Ground round spare ribs shank pastrami ham hock alcatra tenderloin prosciutto shoulder kevin. Tongue pig ground round, capicola sirloin beef shankle ball tip shoulder hamburger.
